$primary_color: #5a7778;
$secondary_color: #5a775f;
$tertiary_color: #74775f;
$quaternary_color: #705743;

$background_color1: #000000;
$background_color2: #3b3b3b;
$background_color3: #5d5d5d;

$text_on_light: #000000;
$text_on_dark: #ffffff;

$error_color: rgb(142, 18, 19);
$success_color: #338a21;
